.Home{
    position: relative;
    background: #000 !important;
}
.Home .bg-top {
    position: sticky;   
    top: 0; 
    background: #1890FF;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}
.Home .bg-top .decoration {
    height: 80%;
}
.Home .content-home {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 40px 0;
}
.Home .content-home h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
}
.Home .content-home h2 span{
    font-weight: 800;
}
.Home .card {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: #00000027 1px 1px 10px;
    transition: all .3s ease-in-out;
}
.Home .card:hover {
    transform: translateY(-5px) 
}
.Home .card-last-students {
    width: 290px;
    padding: 20px 20px 10px;
    position: absolute;
}
.Home .card h3 {
    margin-bottom: 20px;
}
.Home .card-last-students .student-information {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.Home .card-last-students .student-information .information {
    margin-left: 8px;
}
.Home .card-last-students .student-information .information p:first-child{
    font-size: 15px;
    font-weight: 400;
    color: #4D4D4D;
}
.Home .card-last-students .student-information .information p:last-child{
    font-size: 11px;
    font-weight: 400;
    color: #777777;
}
.Home .AreaChart {
    width: 100% !important;
}